# OSX
.DS_Store

# Bundler related files
.bundle
/vendor/bundle

# Test coverage report
coverage

# Dependencies version tolerance
Gemfile.lock

# Ignore Byebug command history file.
.byebug_history

# Ignore all local files
.idea/
.DS_Store
